@model Marks
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2 class="display-6">Редактирование марки</h2>

    <form action="/Marks/Edit/@Model.Id" method="post">
        <div class="mb-3">
            <label class="form-label">Название марки</label>
            <input type="text" name="name" value="@Model.Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form> 
</div>
